/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
resources/views/front/about.blade (copy).php
public/images/*
!public/images/front
resources/views/admin/project/imageUpload.blade (copy).php
public/css.zip
public/images/amenities
public/images/block
public/images/category
public/images/contactus
public/images/floor
public/images/heading
public/images/page
public/images/unit
public/images/user
public/css1.zip
