.about-banner {
    background: var(--secondary-color);
}

.about-banner .container {
    padding: 230px 0;
}

.about-banner .about-banner-text {
    position: relative;
    z-index: 3;
}

.about-banner-text h2 {
    color: var(--primary-color);
    font-size: 28px;
    text-transform: uppercase;
}

.breadcrumb .breadcrumb-item a {
    display: flex;
    color: #EBEBEB;
    font-size: 16px;
    font-family: var(--regular);
}

.breadcrumb .breadcrumb-item a img {
    max-width: 22px;
    margin-right: 15px;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '|';
    color: var(--primary-color);
}

.breadcrumb-item.active {
    color: var(--primary-color);
    font-family: var(--bold);
}

.our-amenities-plan.img6 {
    max-width: 535px;
    left: -280px;
    bottom: -158px;
}

.our-amenities-plan.img5 {
    max-width: 700px;
    right: -298px;
    bottom: -91px;
}

.about-silwana {
    margin-top: -100px;
    position: relative;
    z-index: 5;
}

.breadcrumb {
    margin-top: 25px;
}

.main-dubai-img {
    max-width: 1200px;
    z-index: 3;
}

.about-silwana-detail .about-us-lists {
    border: none;
    padding: 0;
}

.about-silwana-detail .container {
    position: relative;
    z-index: 5;
}

.about-silwana-detail .about-us-main .about-us-detail {
    background: #fff;
    box-shadow: 0px 11px 22px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 30px;
    transition: 0.5s;
    transform: translateY(0);
}

.about-silwana-detail .about-us-main .about-us-detail:hover {
    transform: translateY(-10px);
}

.about-us-detail > div {
    border: 1px solid var(--primary-color);
    padding: 16px;
    border-radius: 15px;
    transition: 0.4s;
}

.about-us-detail > div:hover {
    transform: translateY(-10px);
}

.about-silwana-detail {
    margin: 30px 0 0;
    background: url('/images/front/about/dubai.svg') center center no-repeat;
    background-size: cover;
}

.about-silwana-detail .about-us-lists-inner {
    width: 83px;
    height: 83px;
    padding: 20px;
}

.about-silwana-detail .about-us-lists h6 {
    font-size: 24px;
}

.news-media-wrap {
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 25px;
    overflow: hidden;
    height: 100%;
    position: relative;
    z-index: 5;
    /* margin-bottom: 30px; */
}

.news-media .row .col-lg-8,
.news-media .row .col-lg-4 {
    margin-bottom: 25px;
}

.news-media-wrap .cmn-btn {
    box-shadow: 0px 11px 22px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.news-media-wrap .cmn-btn img {
    filter: brightness(0) invert(1);
    transition: 0.5s;
    max-width: 20px;
    margin-left: 10px;
    display: inline;
}

.news-media-wrap .cmn-btn:hover img {
    filter: none;
}

.news-media-img-wrap {
    width: 100%;
    height: 362px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.news-media-img-wrap > img {
    object-fit: cover;
}

.news-media-text p {
    font-size: 20px;
    font-family: var(--medium);
    margin: 30px 0 30px;
}

.news-media-img-wrap > div > a {
    position: absolute;
    max-width: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.news-media-img-wrap > div > a img {
    max-width: 60px;
}

.quotes-img {
    max-width: 110px;
}

.owner-message-wrap {
    background-color: var(--primary-color);
    box-shadow: 0px 11px 22px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 45px;
}

.owner-message-wrap p {
    color: #fff;
    font-size: 20px;
    line-height: 45px;
}

.owner-image-wrap {
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 100%;
    max-width: 615px;
    height: 813px;
    box-shadow: 0px 11px 22px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
}

.owner-image-wrap img {
    object-fit: cover;
}

.owner-message .title h6 {
    font-size: 20px;
    color: var(--primary-color);
    text-transform: capitalize;
    font-family: var(--semibold);
}

.owner-message .title {
    margin-bottom: 25px;
}

.owner-message .title h2 {
    font-size: 36px;
}

.about-us-wrapper .title {
    margin-bottom: 17px;
}

.about-us-wrapper .title span {
    font-family: var(--semibold);
    font-size: 20px;
}

.management-wrap .investment-inner {
    padding: 0;
    border: none;
    margin-bottom: 20px;
}

.management-wrap .investment-icon-wrap {
    padding: 0;
    width: 20px;
    height: 20px;
    background: #fff;
}

.management-wrap p {
    margin: 0;
}

.management-wrap .investment-inner div:nth-child(2) {
    flex-basis: 92%;
}

.management-wrap .investment-inner:hover {
    box-shadow: none;
}

.management .investment-image > div:nth-child(1) {
    height: 534px;
}

.management-wrap h2 {
    margin-bottom: 30px;
}

.rentals-sales {
    background: #FAEEDC;
    margin-top: 150px;
}

.rentals-sales .container .row:nth-child(3) {
    flex-direction: row-reverse;
    margin: 120px 0 320px;
}

.rentals-sales .container .row:nth-child(3) .owner-message-wrap .row {
    flex-direction: row-reverse;
}

.rentals-sales .container .row:nth-child(3) .owner-message-wrap .row .owner-image-wrap {
    right: 30px;
    left: inherit;
}

.rentals-sales .owner-message-inner p {
    line-height: 28px;
    margin-bottom: 30px;
}


.rentals-sales.owner-message .title h2 {
    font-size: 48px !important;
}

.rentals-sales .owner-message-inner p:last-child {
    margin-bottom: 0;
}

.rentals-sales .owner-message-wrap {
    background: #FFFFFF;
    border: 1px solid #B48D4E;
}

.rentals-sales .owner-message-wrap p {
    color: #0C1111;
    font-size: 16px;
    font-family: var(--regular);
}


.mission-vision .investment-inner p {
    margin-bottom: 20px !important;
}


.mission-vision .row:nth-child(2n) {
    flex-direction: row-reverse;
    margin-top: 100px;
}


.mission-vision .investment-image::after {
    right: 0;
    left: inherit;
}

.mission-vision .investment-image > div:nth-child(1) {
    margin: 0;
}

.investment.management.mission-vision {
    padding-bottom: 0;
}




.investment-wrap .title {
    margin-bottom: 0;
}






.mission-vision .row:nth-child(odd) {
    margin-bottom: 100px;
}

.mission-vision .row:nth-child(even) {
    margin-top: 100px;
    margin-bottom: 100px;
}























































/*
responsive css
*/




/*
responsive css
*/

@media only screen and (max-width:1600px) {
    .mission-vision .investment-image > div:nth-child(1) {
        max-width: 85%;
    }
}


@media only screen and (max-width:1200px) {
    .investment.management {
        padding-bottom: 0;
    }

    .rentals-sales {
        margin-top: 250px;
    }

    .rentals-sales .container .row:nth-child(3) {
        margin-top: 0;
        margin-bottom: 100px;
    }

}

@media only screen and (max-width: 992px) {
    .rentals-sales {
        margin-top: 100px;
    }

    .mission-vision .investment-image > div:nth-child(1) {
        max-width: 390px;
        height: 390px !important;
        margin:  0 auto;
    }

    .mission-vision .investment-image::after {
        right: 64px;
    }

    .mission-vision .investment-wrap {
        margin-top: 90px !important;
    }

    .rentals-sales .container .row:nth-child(3) .owner-message-wrap .row .owner-image-wrap {
        height: 450px !important;
    }

    .rentals-sales .container .row:nth-child(4) .owner-message-wrap .row .owner-image-wrap {
        height: 450px !important;
    }
}



@media only screen and (max-width: 767px) {
    .mission-vision .investment-image::after {
        right: 0;
    }

    .investment-wrap {
        margin-top: 274px;
    }

    .owner-message-wrap {
        padding: 15px;
    }

    .rentals-sales .container .row:nth-child(3) .owner-message-wrap .row .owner-image-wrap {
        height: 350px !important;
    }

    .rentals-sales .container .row:nth-child(4) .owner-message-wrap .row .owner-image-wrap {
        height: 350px !important;
    }
}

@media only screen and (max-width: 576px) {
    .mission-vision .investment-wrap {
        margin-top: 50px !important;
    }

    .mission-vision .investment-image > div:nth-child(1) {
        top: 0;
    }

    .rentals-sales .container .row:nth-child(3) .owner-message-wrap .row .owner-image-wrap {
        height: 250px !important;
    }

    .rentals-sales .container .row:nth-child(4) .owner-message-wrap .row .owner-image-wrap {
        height: 250px !important;
    }
}



@media only screen and (max-width: 540px) {
    .mission-vision .investment-image > div:nth-child(1) {
        max-width: 320px;
        height: 320px !important;
    }

    .mission-vision .investment-image::after {
        width: 150px;
        height: 150px;
    }

    .mission-vision .row:nth-child(even) {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .mission-vision .row:nth-child(odd) {
        margin-bottom: 50px;
    }

    .mission-vision {
        padding: 120px 0 50px;
    }
}

@media only screen and (max-width: 500px) {
    /* .owner-message-wrap {
        padding: 20px;
        height: 378px;
    } */

    .about-us-img {
        height: 250px;
    }
}



































































































