.talk-to-sales {
    background: #FFFFFF;
    border: 1px solid #B48D4E;
    border-radius: 20px;
    padding: 30px;
    height: 100%;
}

.talk-to-sale-img {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    padding: 20px;
}

.register-inner {
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 30px;
}

.register-inner h4 {
    font-size: 20px;
    font-family: var(--semibold);
    color: var(--secondary-color);
    margin: 20px 0 10px;
}

.talk-to-sales {
    transition: 0.5s;
}

.talk-to-sales:hover {
    transform: translateY(-10px);
}

.talk-to-sales a {
    color: var(--primary-color);
    font-size: 20px;
    font-family: var(--semibold);
    display: block;
    margin-top: 10px;
}

.customer-support a.cmn-btn {
    display: inline-block;
    box-shadow: 0px 11px 14px rgba(0, 0, 0, 0.17);
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
}

.customer-support a.cmn-btn:hover {
    color: var(--primary-color);
}

.register-form {
    margin-top: 60px;
}

form h2 {
    font-size: 48px;
    color: var(--secondary-color);
    text-transform: uppercase;
}

form p {
    max-width: 1000px;
    margin: 10px auto 30px;
}

.form-control {
    background: #FFFFFF;
    border: 1px solid #B48D4E;
    border-radius: 10px;
    color: #8B8B8C;
    font-size: 16px;
    font-family: var(--medium);
    padding: 16px 25px;
}

form .form-group {
    margin-bottom: 30px;
}

form .form-control:focus {
    box-shadow: none;
    border: 1px solid var(--primary-color);
}

input ,
textarea {
    color: #8B8B8C;
    font-size: 16px;
    font-family: var(--medium);
}

.register-form .cmn-btn {
    box-shadow: 0px 11px 14px rgba(0, 0, 0, 0.17);
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}

.register-wrap {
    margin-top: -60px;
    position: relative;
    z-index: 5;
    margin-bottom: 100px;
}

.register-inner .row .col-xl-4.col-lg-6 {
    margin-bottom: 25px;
}

/* 
agent wrap css
*/

.agent-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}


.agent-wrap h2 {
    flex-basis: 50%;
}









/* 
calendar css
*/


.calendar{
    margin-bottom:200px;
  }
  .class-link{
    color:#333333;
    text-decoration:none;
  }
  
  .class-link:hover{
   color:#ffbb00; 
  }
  
  /* From here you can start to copy */
  
  .calendar {
    padding:8px;
    background: #ffffff;
    border-radius: 4px;
    font-size:18px;
    overflow: hidden;
    border: 1px solid #333333;
    box-shadow: 0px 20px 40px rgba(59,60,56,0.05);
  }
  .ui-datepicker {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 2px 10px #ccc;
  }
  .ui-datepicker-header {
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    background: var(--primary-color);
    margin-bottom: 10px;
  }
  .ui-datepicker-prev,
  .ui-datepicker-next {
    width: 20px;
    height: 20px;
    text-indent: 9999px;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    margin-top: 12px;
  }
  .ui-datepicker-prev {
    float: left;
    margin-left: 12px;
  }
  .ui-datepicker-prev:after {
    transform: rotate(45deg);
    margin: -43px 0px 0px 8px;
  }
  .ui-datepicker-next {
    float: right;
    margin-right: 12px;
  }
  .ui-datepicker-next:after {
    transform: rotate(-135deg);
    margin: -43px 0px 0px 6px;
  }
  .ui-datepicker-prev:after,
  .ui-datepicker-next:after {
    content: '';
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
  }
  .ui-datepicker-prev:hover,
  .ui-datepicker-next:hover,
  .ui-datepicker-prev:hover:after,
  .ui-datepicker-next:hover:after {
    border-color: #333333;
  }
  .ui-datepicker-title {
    text-align: center;
    font-size:25px;
  }
  .ui-datepicker-calendar {
    width: 100%;
    text-align: center;
  }
  .ui-datepicker-calendar thead tr th span {
    display: block;
    width: 40px;
    color: var(--primary-color);
    margin-bottom: 5px;
    font-size: 18px;
  }
  .ui-state-default {
    display: block;
    text-decoration: none;
    color: #333333;
    line-height: 40px;
    font-size: 16px;
  }
  .ui-state-default:hover {
    color: #ffffff;
    background:var(--primary-color);
    border-radius:50px;
    transition: all 0.25s cubic-bezier(0.7, -0.12, 0.2, 1.12);
  }
  .ui-state-highlight {
    color: #ffffff;
    background-color:var(--primary-color);
    border-radius:50px;
  }
  }
  .ui-state-active {
    color: #ffffff;
    background-color:var(--primary-color);
    border-radius:50px;
  }
  .ui-datepicker-unselectable .ui-state-default {
    color: #eee;
    border: 2px solid transparent;
  }
  
  .icon {
      margin-left: -30px;
      margin-top: -26px;
      position: relative;
      color: var(--primary-color);
      font-size:20px;
  }






























/*
responsive css
*/



@media only screen and (max-width:1400px) {
    .talk-to-sales a {
        font-size: 16px;
    }
}

@media only screen and (max-width:1200px) {
    form h2 {
        font-size: 35px;
    }
}

@media only screen and (max-width:767) {
    form h2 {
        font-size: 25px;
    }

    form .form-group {
        margin-bottom: 15px !important;
    }

    .agent-wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .agent-wrap  {
        margin-bottom: 50px;
    }

    .agent-wrap h2 {
        flex-basis: 100%;
        margin-bottom: 15px;
    }
}


@media only screen and (max-width:476px) {
    .talk-to-sales a {
        font-size: 12px;
    }

    .talk-to-sales {
        padding: 15px;
    }
}














































































































































































































