/* .copy-wrapper p {
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Montserrat-Bold';
}

.copyright {
  background: var(--primary-color);
  padding: 25px 0;
} */

/* 
footer
*/
/* 
.looking-for-house {
  position: relative;
  z-index: 9;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 5;
  flex-wrap: wrap;
}

footer ul li {
  flex-basis: 20%;
}

footer ul li a {
  color: #FFFFFF;
  font-size: 24px;
  font-family: var(--medium);
  transition: 0.5s;
}

footer ul li a:hover {
  color: var(--primary-color);
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

footer {
  background: var(--secondary-color);
  padding: 300px 0 200px;
  margin-top: -150px;
}

.footer-title {
  margin-top: 60px;
  position: relative;
  z-index: 3;
}

.social-links a:last-child {
  margin-right: 0;
}

.footer-title h4 {
  color: #F9F6F1;
  font-size: 24px;
  position: relative;
  font-family: var(--bold);
  margin-bottom: 20px;
}

.footer-title h4::after {
  content: '';
  position: absolute;
  width: 41px;
  height: 8px;
  display: block;
  left: 50%;
  top: -20px;
  transform: translateX(-50%);
  background: var(--primary-color);
  border-radius: 50px;
}

.footer-building-img.img9 {
  max-width: 500px;
  left: 56px;
  bottom: -210px;
}

.footer-building-img.img10 {
  max-width: 781px;
  right: -202px;
  bottom: -132px;
}


 */





























/* 
responsive css
*/


/* @media only screen and (max-width: 1200px) {
  footer ul li {
    text-align: center;
    flex-basis: 32%;
    margin-bottom: 15px;
  }

  footer ul {
    justify-content: center;
  }

  .footer-building-img.img9 {
    left: -151px;
    bottom: -259px;
  }

  .footer-building-img.img10 {
    right: -359px;
    bottom: -172px;
  }
}


@media only screen and (max-width: 767px) {
  .footer-building-img.img9 {
    bottom: -340px;
  }

  footer {
    padding: 200px 0;
  }

  .footer-building-img.img10 {
    bottom: -260px;
  }
}
 */













/* 
footer
*/


footer {
  background: #181819;
}

.footer-info form .form-control {
  background: #232323;
  padding: 12px 30px !important;
  border-radius: 5px;
  border: 1px solid transparent;
  color: #FFFFFF;
  font-size: 16px;
  transition: 0.5s;
}

.footer-info form .form-control:focus {
  border: 1px solid #B48D4E;
  box-shadow: none;
}

.footer-info form .form-control input,
.footer-info form .form-control textarea {
  color: #FFFFFF;
}

.footer-info form .form-control::placeholder {
  color: #FFFFFF;
}

.footer-info h5 {
  color: #FFFFFF;
  font-size: 24px;
  font-family: var(--bold);
  margin-bottom: 20px;
}

.footer-info li a {
  color: #FFFFFF;
  font-size: 16px;
  font-family: var(--regular);
  display: block;
}

.footer-info.usefull-links-main li a {

  margin-bottom: 15px;
  transition: 0.5s;
  position: relative;
  transform: translateX(0);
}

.footer-info.usefull-links-main li a::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 0;
  background: var(--primary-color);
  display: block;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.5s;
 
}

.usefull-links-main {
  padding-left: 100px;
}

.footer-info.usefull-links-main li a:hover {
  color: var(--primary-color);
  transform: translateX(10px);
  padding-left: 3px;
}

.footer-info.usefull-links-main li a:hover::after {
  opacity: 1;
  height: 18px;
  left: -10px;
}


.support-wrap li {
  display: flex;
  align-items: center;
}


.support-wrap li > div:first-child {
  width: 32px;
  height: 32px;
}

.support-wrap li > div img {
  object-fit: contain;
}

.support-wrap li a {
  flex-basis: 85%;
  display: block;
  margin-left: 15px;
  margin-bottom: 0;
}

.support-wrap li {
  margin-bottom: 25px;
}

.support-wrap li:last-child {
  margin-bottom: 0;
}



.social-links {
  display: flex;
  justify-content: center;
  margin-left: 15px;
}

.social-links a {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 20px;
}



/* 
copyright
*/

.copyright {
  background: #181819;
  border-top: 2px solid #B48D4E;
  padding: 20px 0 30px;
}

.copy-wrapper p {
  color: #fff;
  font-size: 14px;
  font-family: var(--medium);
}























/* 
responsive css
*/




@media only screen and (max-width: 1200px) {
  .usefull-links-main {
    padding-left: 40px;
  }

  .footer-info li a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 992px) {
  .usefull-links-main {
    padding-left: 0px;
}

.footer-info {
  margin-bottom: 50px;
}
} 